<div class="top-menu">
  <div class="container">
    <div class="logo">
      <a ng-href="/main">
        <img title="logo Anec" src="assets/images/logo.png" />
      </a>
    </div>
    <div class="menu-toggle">
      <span class="glyphicon glyphicon-align-justify" aria-hidden="true" toggle-menu></span>
    </div>
    <div class="top-menu-right">
      <ul>
        <li>
          <span uib-dropdown="" on-toggle="toggled(open)" class="dropdown open" style="">
            <a id="simple-dropdown" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
              <i ng-show="menuTopCtrl.isAdmin" class="glyphicon glyphicon-cog" aria-hidden="true"></i>
            </a>
            <ul uib-dropdown-menu="" aria-labelledby="simple-dropdown" class="dropdown-menu">
              <li class="ng-scope">
                <a ng-href="/mgt-module-type" class="ng-binding">{{'menu-top.modulesTypes' | translate}}</a>
              </li>
              <li>
                <a ng-href="/mgt-module" class="ng-binding">{{'menu-top.modules' | translate}}</a>
              </li>
              <li>
                <a ng-href="/mgt-users">{{'menu-top.users' | translate}}</a>
              </li>
              <li>
                <a ng-href="/mgt-customers">{{'menu-top.customers' | translate}}</a>
              </li>
            </ul>
          </span>
        </li>
        <li>
          <i class="glyphicon glyphicon-user account" aria-hidden="true"></i>
          <span class="infos">
            {{menuTopCtrl.lastName}}
          </span>
        </li>
        <li>
          <i class="glyphicon glyphicon-log-out" aria-hidden="true" ng-click="menuTopCtrl.logout()"></i>
        </li>
        <li>
          <select-box click="menuTopCtrl.changeLang" default-value="" list="menuTopCtrl.listLang" default-selected="menuTopCtrl.idSelectedLang"></select-box>
        </li>
      </ul>
    </div>
  </div>
</div>
