<div class="top-menu" menu-top>
  <div class="container">
    <div class="logo">
      <a ng-href="#/main">
        <img title="logo Anec" src="assets/images/logo.png" />
      </a>
    </div>
    <div class="menu-toggle">
      <span class="glyphicon glyphicon-align-justify" aria-hidden="true" toggle-menu></span>
    </div>
    <div class="top-menu-right">
      <ul>
        <li>
          <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
        </li>
        <li>
          <i class="glyphicon glyphicon-user account" aria-hidden="true"></i>
          <span class="infos">
            {{menuTopCtrl.lastName}}
          </span>
        </li>
        <li>
          <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
