html, body {width:100%; height:100%; box-sizing:border-box; background:#eff3f8;}
/* import google font Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
body, h1, h2, h3, h4, h5, h6 {font-family:"Open Sans",sans-serif;}
.glyphicon {cursor:pointer;}

/* form */
.required:after {content:" *"; color:red;}
.txt-error {text-transform:uppercase; font-size:11px; color:red;}

/* login */
#login {overflow:hidden; width:600px; color:white; margin:100px auto; padding:0 0 50px 0; background:white; border-radius:3px;}
#login .header {line-height:57px;}
#login button {float:right; height:50px; width:100%; text-align:left; background:#1CBBFF; margin-top:10px;}
#login button .fa {float:right; height;auto; width:auto; padding:0; background:none; margin-top:3px; color:white;}
#login .ctn-input {padding:30px;}
#login input {width:calc(100% - 45px); height:50px; border-radius:0 5px 5px 0; margin-bottom:20px; border-radius:0;
	box-shadow:none; border:0; border-bottom:2px solid #e1e1e1;}
#login .fa {color:grey; float:left; padding:16px; width:45px; font-size:16px;}
#login .block-right .ctn-input {padding:30px;}
#login .block-right .ctn-input button {float:right; height:50px; width:100%; text-align:left; background:#FFA10D; border:0; margin-top:67px;}
#login .block-right button a {color:white; text-decoration:none;}
#login .block-right .ctn-input button .fa {float:right; height;auto; width:auto; padding:0; background:none; margin-top:3px; color:white;}

/* Creat login */
.content.createAccount {}
.content.createAccount .footer {display:flex; flex-direction:row-reverse; padding:0 5%;}

/************ common ************/
/* form */
.ctn-input .flat-button.fa {float:right; height;auto; width:auto; padding:0; background:none; margin-top:3px; color:white;}
.ctn-input .flat-input {width:calc(100% - 45px); height:50px; border-radius:0 5px 5px 0; margin-bottom:20px; border-radius:0; box-shadow:none; border:0; border-bottom:2px solid #e1e1e1;}
.ctn-input .flat-input.error {border-color:red;}
.ctn-input .fa {color:grey; float:left; padding:16px; width:45px; font-size:16px;}
.step .ctn-input .flat-input.error, .flat-input.reduct {width:50%; display:inline-block;}
.step .ctn-input .error-message {display:inline-block; width: calc(50% - 71px); color:red;}

/* header */
.header {display:block; height:61px; margin-bottom:20px; /*line-height: 60px;*/ background: #1CBBFF; padding: 0 20px; overflow:hidden;}
.header .title {float:left; font-size:17px; margin-top:5px; text-shadow:1px 1px 1px blue; color:white; width:calc(100% - 47px); text-align:center;}
.header .ctn-angle {position:relative; float:right; width:47px;}
.header .ctn-angle .fa {font-size:131px; position:absolute; z-index:10; top:-39px; left:0; color:white;}
.header ul li {list-style-type:none; float:left; width:25%;}

/* menu*/
.top-menu {height:70px; background:white;}
.top-menu a img {width:110px; margin-top:17px;}
.top-menu ul {margin-top:0;}
.top-menu .logo {float:left;}
.top-menu .top-menu-right {float:right; margin-top:21px;}
.top-menu .top-menu-right ul li {/*height:50px;*/ float:left; padding:1px 10px;}
.top-menu .top-menu-right ul li .glyphicon {color:#C1CCD1; font-size:25px;}
.top-menu .top-menu-right ul li .glyphicon:hover {color:#a4b4bb; cursor:pointer;}
.top-menu .top-menu-right ul li .account {padding: 8px; background: #C1CCD1; color:white; border-radius:25px; margin-top:-9px;}
.top-menu .top-menu-right ul li .infos {color:#8ea3b6; color:#8ea3b6; float:right; margin:3px 0px 0 10px;}
.top-menu .menu-toggle {float:right; display:none; margin:23px 3px 0 13px; font-size:17px; color:#C1CCD1; margin-right:9px;}
.nav-menu {height:50px; background:#444d58;}
.nav-menu ul {margin:0;}
.nav-menu ul li {float:left;}
.nav-menu ul li a {position:relative; display:block; font-size:14px; font-weight: 400; padding: 16px 18px 15px; color: #BCC2CB; line-height:20px;}
.nav-menu ul li a:hover {text-decoration:none; cursor:pointer;}
.nav-menu ul li a .arrow {display:none; position:absolute; font-size:14px; right:15px; top:17px;
height: auto; font-weight: 300; color:#666;}

/* header grid */
.header-button {background:white; margin:10px 0; padding:10px 0;}

/* modal */
.modal-body ul.form li {margin-bottom:10px;}

/* grid element */
.grid-container {background:white;}
.grid-container .ctnGrid {height:300px;}
.grid-container .panel-heading {font-weight:600; color: #e7505a; background-color: white;}
.grid-container .panel-heading {border-bottom:1px solid #eee}
.grid-container .panel-heading h3 {margin-top:10px;}
.grid-container .panel-heading .form-control {background:white;}
.grid-container .panel-heading .panel-title {font-size: 16px;}
.ag-fresh .ag-filter {background:white; border:1px solid #eee; box-shadow: 5px 5px rgba(102,102,102,.1);}
.ag-filter-filter {width:96%; border:0; outline:none;}
.ag-fresh .ag-filter-header-container {padding:5px; border-color:#eee;}
.ag-fresh .ag-overlay-no-rows-center {font-style:italic; border:0; font-weight:bold; color:e7505a;}
.ag-fresh .ag-header-cell-menu-butto@n:hover {border:0;}
.ag-fresh .ag-header-icon {color:#32c5d2}
.ag-header-cell-menu-button {border:0!important;}
.ag-fresh .ag-filter-checkbox {margin-right:5px;}

/* surcharge css ag-grid */
.ag-header-container .checkboxSel .ag-header-cell-menu-button {display: none;}
.ag-fresh .ag-cell {padding:7px 0; color:#93a2a9;}
.ag-fresh .ag-cell-focus, .ag-fresh .ag-cell-no-focus {border:0; outline:none;}
.ag-fresh .ag-header-cell {border:1px solid transparent; background:none;}
.ag-fresh .ag-header-container {background:none;}
.ag-fresh .ag-body {background:none;}
.ag-fresh .ag-header-cell-label {padding:0; text-align:left;}
.ag-fresh .ag-header-container {border-bottom:1px solid #F2F5F8;}
.ag-fresh .ag-root {border:0;}
.ag-fresh .ag-cell-no-focus {border:0;}
.ag-fresh .ag-body .ag-row-odd, .ag-fresh .ag-body .ag-row-even {background:none; border-top:1px solid #F2F5F8;}
.ag-fresh .ag-body .ag-row-even.ag-row-level-0:first-child {border-top:0;}
.ag-fresh .ag-row-selected {background-color:#f9f9f9!important;}
.ag-header-cell-label span.title {font-weight:bold; color:#93a2a9;}
