<form name="formLogin">
	<div class="login" login>
		<div id="login" class="col-md-6 col-md-offset-1">
			<div class="header">
				<span class="title">{{'login.identify' | translate}} </span>
			</div>
			<div class="ctn-input">
				<i class="fa fa-user"></i>
				<input class="form-control" placeholder="{{'login.login' | translate}}" type="text" name="user" ng-model="loginCtrl.loginObj.login">
				<i class="fa fa-lock"></i>
				<input class="form-control" placeholder="{{'login.password' | translate}}" type="password" name="pwd" ng-model="loginCtrl.loginObj.password">
				<!-- <button type="submit" class="btn btn-info ng-binding">{{_i('common.connexion')}} <i class="fa fa-chevron-right"></i><
				/button> -->
				<button ng-click="loginCtrl.loginForm()" class="btn btn-info ng-binding">{{'common.connexion' | translate}} <i class="fa fa-chevron-right"></i></button>
			</div>
		</div>
	</div>
</form>
