<div class="content modules" modules-by-district>
  <label for="countrySel"> Single select: </label><br>
  <select id="countrySel" ng-model="modulesByDistrictCtrl.moduleObj.countryList" required="true" ng-change="modulesByDistrictCtrl.refreshDisctrict(modulesByDistrictCtrl.moduleObj.countryList)">
    <option ng-repeat="option in modulesByDistrictCtrl.countryOptions" value="{{option.id}}">{{option.name}}</option>
  </select>
  <label for="districtSel"> Single select: </label><br>
  <select id="districtSel" ng-model="modulesByDistrictCtrl.moduleObj.districtOptions" required="true">
    <option ng-repeat="option in modulesByDistrictCtrl.districtOptions" value="{{option.id}}">{{option.name}}</option>
  </select>
  <label for="moduleSel"> Single select: </label><br>
  <select id="moduleSel" ng-model="modulesByDistrictCtrl.moduleObj.moduleList" required="true">
    <option ng-repeat="option in modulesByDistrictCtrl.moduleListOptions" value="{{option.id}}">{{option.name}}</option>
  </select>
  <label for="typeSel"> Single select: </label><br>
  <select id="typeSel" ng-model="modulesByDistrictCtrl.moduleObj.typeList" required="true">
    <option ng-repeat="option in modulesByDistrictCtrl.typeListOptions" value="{{option.id}}">{{option.name}}</option>
  </select>
  <label for="providerSel"> Single select: </label><br>
  <select id="providerSel" ng-model="modulesByDistrictCtrl.moduleObj.providerList" required="true">
    <option ng-repeat="option in modulesByDistrictCtrl.providerOptions" value="{{option.id}}">{{option.name}}</option>
  </select>
</div>
