<div class="modale">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
      <ul class="form">
        <li>
          <label for="form_type">Type:</label>
          <input id="form_type" class="form-control" placeholder="ex : gaz" type="text" tabindex="1">
        </li>
        <li>
          <label for="form_id">id:</label>
          <input id="form_id" class="form-control" placeholder="ex : MOD_TYPE_001" type="text" tabindex="2">
        </li>
      </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" tabindex="3">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" tabindex="4">Cancel</button>
    </div>
</div>
