<div class="modale">
  <form name="form" novalidate ng-submit="submit(form.$valid)">
    <div class="modal-header">
        <h4 class="modal-title">{{'modal.modalAddModType.title' | translate}}</h4>
    </div>
    <div class="modal-body">
      <ul class="form">
        <li>
          <label for="form_type" class="required">Type:</label>
          <input ng-model="formObj.type" name="type" id="form_type" class="form-control"
            placeholder="{{'modal.modalAddModType.placeholder.type' | translate}}" type="text" tabindex="1" required>
          <div ng-messages="form.type.$error">
              <div class="txt-error" ng-message="required" ng-if="form.$submitted">{{'common.required' | translate}}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="ok()" tabindex="3">{{'common.button.ok' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" tabindex="4">{{'common.button.cancel' | translate}}</button>
    </div>
  </form>
</div>
